

// Variable overrides first
// $primary: #156460;
// $enable-shadows: true;

// Then import Bootstrap
@import "assets/styles/bootstrap-imports.scss";
@import "assets/styles/material-theme.scss";

html,
body {
    height: 100%;
}

*:not(mat-icon) {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}


.spacer {
    flex: 1 1 auto;
}


.c-pointer{
    cursor: pointer;
}

a {
    text-decoration: none !important;
    color: unset !important;
}

.centerize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    color: #156064;
}